<style>

#all {
	width: 100%;
	height: 100%;
}

html {
	background-color: black;
	color: white;
}

.class1 {
    background-image: url('backgroundhome.gif');
    background-size: cover;
    background-attachment: fixed;
}

.class3 {
	background-color: black;
	color: white;
}

img.class2 {
	padding: 10px;
	border: 3px;
	border-color: #890000
}

a {
	color: red;
}

a.class1 {
	color: white;
	font-size: 28;
	font-family: Downcome, url('downcome.ttf');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.active {
	background-color: #8F8F8F;
	color: #0D0D0D;
}

.class3 {
	background-color: #930000;
}

.class4 {
	background-color: #008b13
}

button {
	background-color: #555555;
	color: red;
	box-shadow: 0px 1px 0px 0px 
	linear-gradient(to bottom, rgb(234, 224, 194), 5%, rgb(204, 194, 166) 100%) repeat 			scroll 0% 0%; 
	border-radius: 15px; 
	border: 2px solid rgb(51, 48, 41); 
	display: inline-block;   
	font-size: 14px; 
	font-weight: bold; 
	padding: 12px 16px; 
	text-decoration: none; 
	text-shadow: 0px 1px 0px #5B0000;
} 

</style>
