<style>

@font-face { font-family: Downcome; src: url("downcome.ttf"); }
a.class1 {
	font-family: Downcome
	color: white;
	font-size: 28;
}

@font-face { font-family: Bebas; src: url("bebas.ttf"); }
button {
	font-family: Bebas
}

</style>
